ImperialRegister/Service References/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImperialRegistration_API.DataContractTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImperialRegistration_API.DataContractTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RebelRegisterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="planet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RebelRegisterRequest" nillable="true" type="tns:RebelRegisterRequest" />
</xs:schema>